<div class="container">
  <h1>Welcome to the Flashcards game!</h1>
  <h2>Please log in:</h2>

  <form method='post' action='/sessions'>
    <input type='text' name='username' placeholder='Username' />
    <input type='password' name='password' placeholder='Password' />
    <input type='submit' value='Log in' />
  </form>
</div>
