<div class="container">
  <h2>Welcome to Flashdown!</h2>
  <h3>Please log in:</h3>

  <form method='post' action='/sessions'>
    <input type='text' name='username' placeholder='Username' />
    <input type='password' name='password' placeholder='Password' />
    <input class="submit-btn" type='submit' value='Log in' />
  </form>
</div>
