<h2>Your score</h2>

<p>
  You've completed a round of <b><i><%= @round.deck.name %></i></b>!
</p>

<p>
<!-- Careful.  .count is a method that will call your database.  .length() would
avoid a db call (probably) -->
  You answered <%= @round.first_guesses %>/ <%= @round.deck.cards.count %> on the first try.
</p>

<p>
  You needed <%= @round.total_guesses %> guesses in all to answer every card correctly.
</p>
