<div class= "container">
  <% if @last_card_was_wrong_answer %>
    <h2>Nice try!</h2>
    <p>The answer was...<b><i><%= @last_card_was_wrong_answer %></i></b>.</p>
    <p class="last-graph">Now <em>you</em> type it for practice.</p>
  <% end %>
  <h2>Question:</h2>
  <h3><%= @card.prompt %></h3>
  <form method="post" action="/cards/<%= @card.id %>/guesses"/>
    <label>Your answer:</label>
    <input type="text" name="answer"/>
    <input class="submit-btn" type="submit" value="Guess"/>
  </form>
</div>
