<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <link href='https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,700,400italic,700italic' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="wrapper">
    <header class="masthead">
      <h1 class="masthead--logo">Flashdown!</h1>
      <p class="masthead--tagline">A flashcard web app</p>
    </header>

    <div class="content">
      <%= yield %>
    </div>

    <footer class="footer">
      <p>Created by Jon Chen, Eunice Do, Eliza Dunaway, and Jeff George</p>
      <p>Dev Bootcamp Copperheads 2016</p>
    </footer>
  </div>
</body>
</html>
